/* palette source: https://i.pinimg.com/564x/0e/30/ae/0e30ae7686a1e2f5d59cc2a26b401546.jpg */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #E8EBE4;
  width: 100vw;
  padding-top: 3em;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
@media (max-width: 750px) {
  body {
    padding-top: 2em;
  }
}
body main {
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 1px;
}

header {
  display: none;
}
@media (max-width: 750px) {
  header {
    display: block;
  }
  header .navMenu {
    display: none;
    position: relative;
    left: calc(120vw - 3.5em);
    top: calc(30vw - 4em);
  }
  header .navMenuShowing {
    position: absolute;
    left: calc(65vw - 3.5em);
    top: calc(24vw - 4em);
    background-color: #E8EBE4;
    color: #0D1321;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    padding: 1em;
    border-left: solid 2px #0D1321;
  }
  header .navMenuShowing li {
    margin: 1.5em;
  }
  header .navMenuShowing li a {
    font-size: 1.5em;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    color: #0D1321;
  }
  header .burger {
    position: absolute;
    left: calc(100vw - 3.5em);
    top: calc(30vw - 4em);
    color: #1D2D44;
  }
}

.heroDiv {
  width: 100%;
  height: 50vh;
  background-image: url("../Images/whiteWaves.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: start;
  border-bottom: solid 2px #1D2D44;
}
.heroDiv > * {
  display: flex;
  justify-content: center;
}
.heroDiv .imgDiv {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -o-object-fit: contain;
     object-fit: contain;
  height: 90%;
}
@media (max-width: 750px) {
  .heroDiv .imgDiv {
    display: none;
  }
}
.heroDiv .imgDiv img {
  height: 100%;
  border-radius: 100%;
  overflow: hidden;
}
.heroDiv .textDiv {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 750px) {
  .heroDiv .textDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0em 2em;
  }
}
.heroDiv .textDiv #heroText {
  flex-direction: column;
  align-items: flex-start;
}
.heroDiv .textDiv #heroText h1 {
  color: #1D2D44;
  font-size: 4em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.5em;
  font-family: Helvetica, sans-serif;
}
.heroDiv .textDiv #heroText h2 {
  color: #748CAB;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}

.infoSection {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
}
@media (max-width: 750px) {
  .infoSection {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }
}
.infoSection .infoCol {
  padding: 2em 3em;
}
@media (max-width: 750px) {
  .infoSection .infoCol {
    padding: 2em;
  }
}
.infoSection #personalCol {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #748CAB;
}
.infoSection #personalCol h2 {
  color: #E8EBE4;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: Helvetica, sans-serif;
}
.infoSection #personalCol .shortBar {
  width: 4em;
  margin: 1em 0em;
  border: 0.15em solid #E8EBE4;
}
.infoSection #personalCol p {
  font-size: 1.2em;
  font-weight: 300;
  color: #E8EBE4;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 750px) {
  .infoSection #personalCol {
    width: 100%;
  }
}
.infoSection #personalCol .cardList {
  font-size: 1.2em;
  font-weight: 300;
  color: #E8EBE4;
  font-family: Arial, Helvetica, sans-serif;
}
.infoSection #personalCol .upArrow {
  color: #E8EBE4;
}
.infoSection #expCol {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #E8EBE4;
}
.infoSection #expCol h2 {
  color: #0D1321;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: Helvetica, sans-serif;
}
.infoSection #expCol .shortBar {
  width: 4em;
  margin: 1em 0em;
  border: 0.15em solid #0D1321;
}
.infoSection #expCol p {
  font-size: 1.2em;
  font-weight: 300;
  color: #0D1321;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 750px) {
  .infoSection #expCol {
    width: 100%;
  }
}
.infoSection #expCol .cardList {
  font-size: 1.2em;
  font-weight: 300;
  color: #0D1321;
  font-family: Arial, Helvetica, sans-serif;
}
.infoSection #expCol .upArrow {
  color: #0D1321;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 2em;
}
.card .cardTitleSection a {
  display: none;
}
@media (max-width: 750px) {
  .card .cardTitleSection {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .card .cardTitleSection a {
    display: inline;
  }
}
.card .cardList {
  margin-bottom: 1.5em;
}
.card .cardList h3 {
  font-size: 1em;
  font-weight: 300;
  color: #0D1321;
  font-family: Arial, Helvetica, sans-serif;
}
.card .cardList h3 .compName {
  font-weight: bold;
}
.card .cardList h4 {
  margin-bottom: 1em;
}
.card .cardList li {
  margin-bottom: 0.5em;
}
.card .cardList .expColList {
  list-style: disc;
}
.card .cardList i {
  width: 1em;
  margin-right: 0.5em;
}/*# sourceMappingURL=style.css.map */