// :root {

/* palette source: https://i.pinimg.com/564x/0e/30/ae/0e30ae7686a1e2f5d59cc2a26b401546.jpg */

$white:#f6f9f3;
$white1: #FFFEFE;
$grey:#7B7B7B;
$greyAlpha: rgba(123, 123, 123, 0.5);
$black:#252525;
$ltGreen:#E1EAD8;
$green:#99A29C;
$dkGreen:#7B7B7B;
$mainShadow: 5px 5px 31px 4px $grey;
