@mixin regH1($color) {
    color: $color;
    font-size: 4em;
    text-transform: uppercase;
    margin-bottom: .5em;
}

@mixin regH2($color, $weight) {
    color: $color;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: $weight;
}

@mixin twoColRow {
    display: flex;
    flex-direction: row;
    // align-items: flex-start;
    align-items: stretch;
    justify-content: flex-start;
}

@mixin leftColFlex {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexMeDaddy($width, $direction, $align, $justify) {
    width: $width;
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin card {
    border: $tbY;
}

@mixin chonkBar($width, $thickness, $color) {
    width: $width;
    margin-left: 0px;
    border: $thickness solid $color;
}