@mixin regH1($color) {
    color: $color;
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: .5em;
    font-family: $fontFam2;  
}

@mixin regH2($color, $weight) {
    color: $color;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: $weight;
    font-family: $fontFam2;  
}

@mixin regP($size, $weight, $color) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-family: $fontFam1;   
}

@mixin twoCols ($direction) {
    display: flex;
    flex-direction: $direction;
    // align-items: flex-start;
    align-items: stretch;
    justify-content: flex-start;
}

@mixin leftColFlex {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexMeDaddy($width, $direction, $align, $justify) {
    width: $width;
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin card {
    margin-bottom: 2em;
}

@mixin chonkBar($width, $thickness, $color) {
    width: $width;
    margin: 1em 0em;
    border: $thickness solid $color;
}